<main>
  <div class="container mt-5 text-center">
    <div class="row">
      <div class="col">
        <h1 class="head">أدوات الرسم</h1>
        <div class="row bg bg-dark text-white">
          <div class="col"><span class="p-2 ">اجمالي السعر</span> <span class="p-2">{{total}}</span></div>
          <div class="col"><span class="p-2">عدد الطلبات </span> <span class="p-2">{{qty}}</span></div>
        </div>
        <!-- An input field to search for products by name -->
        <div class="row">
          <div class="col mt-5 d-flex align-items-center justify-content-center">
            <label for="search" class="p-4 fs-5">أبحث عن المنتجات : </label>
            <input type="text" class="form-control p-2 mt-3" id="search" placeholder="أبحث  عن أسم المنتج..." [(ngModel)]="ProductName">
          </div>
        </div>
        <!-- This card contains a table of products -->
        <div class="card d-flex align-items-center justify-content-center mt-5">
          <div class="card-body">
            <table  class="table">
              <thead>
                <tr>
                  <th>رقم المنتج</th>
                  <th>صورة المنتج</th>
                  <th>اسم المنتج</th>
                  <th>سعر المنتج</th>
                  <th>وصف المنتج</th>
                  <th>اختر</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of search(Menu)">
                  <td>{{item.id}}</td>
                  <td><img [src]="item.img" width="100"></td>
                  <td>{{item.name}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.description}}</td>
                  <td><input type="checkbox" (change)="sum($event,item.price)"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
